marquee{
    background-color: yellow;
}
h1{
    color: blueviolet;
    background-color: pink;
}
body{
    background-color: blanchedalmond;
    background-image: url(body.jpg);
    background-repeat: no-repeat;

}
.about{
    border-width: 5px;
    border-style:dotted;
    border-color: aqua;
    border-radius: 25px;
}
.contact{
    background-color: aqua;
}
.pages{
    border: 5px solid aqua;
    border-radius: 25px ;
}